# Compiled class files
*.class

# Log files
*.log



# Package Files
*.jar
*.war
*.ear



# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/


# Classpath file
.classpath
.project


# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini


# Backup files
*.bak
*.tmp
*.swp


