# Compiled class files
*.class

# Log files
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear


# Eclipse files
.metadata/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
target/

# IntelliJ IDEA files
.idea/
*.iws
*.iml
*.ipr
out/


# Classpath file
.classpath
.project


# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini


# Backup files
*.bak
*.tmp
*.swp

# Others
bin/
*.log
*.env
*.properties
*.idea/
